*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0px 200px;
}



.topnav{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    font-family: 'Baloo Bhaina 2';
    font-weight: bolder;
    font-size: 1.2rem;
}

.topnav div{
    /* border: 2px solid red; */
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo img{
    /* border: 2px solid red; */
    width: 300px;
    height: 100px;
}


.nav-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-item li{
    list-style: none;
    margin: 0px 10px;
}





.auth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.auth li{
    list-style: none;
    margin: 0px 10px;
}


.bottomnav{
    background-color: #fde9db;
    
}

.bottom-nav-item{
    height: 300px;
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
}
.bottom-nav-item .search{
   width: 100%;
   /* border: 2px solid red; */
   padding: 10px 10px;
}
.bottom-nav-item .search input{
    width: 80%;
    height: 67px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 20px;

}
.bottom-nav-item .search button{
    width: 19%;
    height: 67px;
    outline: none;
    background: none;
    background-color: #fff;
    border: none;
    background: black;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;

}
.heading{
    margin: 40px 0px;
    text-align: center;
}

.content img{
    width: 500px;
}
.content{
    display: flex;
}
.content .first{
    flex: 1;
}
.content .second{
    flex: 1;
}

.content h1{
    margin-top: 30px;
}
.content p{
    margin-top: 30px;
}
.content button{
    margin-top: 30px;
}
.btn{
    outline: none;
    background: none;
    border: none;
    padding: 15px 30px;
    border: 2px solid black;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: all .3s ease;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: white;
}

